.header {
    background-image: url('../../assets/banner_image.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
}
.header-content{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}
.header-content h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: rgb(255, 119, 0);
}
.header-content p:first-of-type {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: red;
}
@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.header-content p:first-of-type {
    animation: flicker 1s infinite;
}
.header-content p:last-of-type {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
.header-content button {
    background-color: rgb(255, 119, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
}
